{% extends 'base.html' %}
{% load static %}
{% block title %}accounts{% endblock title %}

{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Account types</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base"></p>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Basic</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Gold</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Platinum</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">VIP</th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-4 py-3">EUR/USD2.8 PIPS</td>
            <td class="px-4 py-3">EUR/USD2.5 PIPS</td>
            <td class="px-4 py-3">EUR/USD1.9 PIPS</td>
            <td class="px-4 py-3 text-lg text-gray-900">EUR/USD1.4 PIPS</td>
            
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3">GBP/USD3.1 PIPS</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">GBP/USD2.8 PIPS</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">GBP/USD2.2 PIPS</td>
            <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">GBP/USD1.7 PIPS</td>
            
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3">USD/JPY3 PIPS</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">USD/JPY2.7 PIPS</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">USD/JPY2.1 PIPS</td>
            <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">USD/JPY1.6 PIPS</td>
        
          </tr>
          <tr>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">CRUDE OIL$0.12</td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">CRUDE OIL$0.11</td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">CRUDE OIL$0.10</td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3 text-lg text-gray-900">CRUDE OIL$0.10</td>
        
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
     
      <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Get Started</button>
    </div>
  </div>
</section>

{% endblock content %}