{% extends 'base.html' %}
{% load static %}
{% block title %}deposit{% endblock title %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'img/btc6.png' %}">
        </a>
        <div class="mt-2">
          <h3 class="text-gray-500 text-xs text-center tracking-widest title-font mb-1">invest with btc</h3>
        </div>
        <button type="button" onclick="toggleModal('modal-id')" class="flex mx-auto mt-2 text-white font-bold bg-blue-400
         border-0 py-1 px-3 focus:outline-none hover:bg-indigo-300 rounded text-base">Click here</button> 
    
      <!--modal STARTS-->
<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
  <div class="relative w-auto my-4 mx-auto max-w-sm">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-lg font-bold text-center">
          BITCOIN DEPOSIT WALLET ADDRESS
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-id')">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="my-2 text-blueGray-500 text-base font-bold leading-relaxed capitalize">
          all bitcoin payment should be sent to this bitcoin wallet address below
        </p>
          {% for lead in lead %}
          <p class="my-4 text-black text-base font-medium leading-relaxed bg-blue-200 p-4">
            {{lead.main_wallet}}

            <button class="btn copy-btn text-red-500 background-transparent uppercase px-6 text-xs outline-none 
            " data-hex={{lead.main_wallet}}>copy</button>
        </p>
            {% endfor %}
        <h3 class="my-2 text-blueGray-500 text-base font-bold leading-relaxed capitalize">
          Or use the Deposit Qr code
        </h3>
        <p class="my-4 text-blueGray-500 text-sm leading-relaxed">
          scan the code below
        </p>

        <img src="{{lead.image}}">

        <p class="my-2 text-blueGray-500 text-base font-medium leading-relaxed bg-red-200 p-4">
            Note: This is your personal wallet address.Payments should be made directly to it and it may appear
            in your account immediately or in 30minutes. 
        </p>

        
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-blue-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
          Close
        </button>
      
      </div>
    </div>
  </div>
</div>
<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
</div>


      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'img/vi.png' %}">
        </a>
          <div class="mt-2">
          <h3 class="text-gray-500 text-xs text-center tracking-widest title-font mb-1">invest with visa debit/credit</h3>
        </div>
     <div x-data="{ show: false }">
    <div class="flex justify-center">
        <button @click={show=true} type="button" class="flex mx-auto mt-2 text-white font-bold bg-blue-400 border-0
         py-1 px-3 focus:outline-none hover:bg-indigo-300 rounded text-base">Click here</Button>
    </div>
    <div x-show="show" tabindex="0" class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div  @click.away="show = false" class="z-50 relative p-3 mx-auto my-0 max-w-full" style="width: 500px;">
            <div class="bg-white rounded shadow-lg border flex flex-col overflow-hidden">
                <button @click={show=false} class="fill-current h-6 w-6 absolute right-0 top-0 m-6 font-3xl font-bold">&times;</button>
                <div class="px-6 py-3 text-xl border-b font-bold">:(</div>
                <div class="p-6 flex-grow">
                    <p>API connection failed</p>
                    <p>Rendering Error</p>
                </div>
                <div class="px-6 py-3 border-t">
                    <div class="flex justify-end">
                        <button @click={show=false} type="button" class="bg-gray-700 text-gray-100 rounded px-4 py-2 mr-1">Close</Button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed bg-black opacity-50"></div>
    </div>
</div>
  </div>


      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'img/mastercard.png' %}">
        </a>
        <div class="mt-2">
          <h3 class="text-gray-500 text-xs text-center tracking-widest title-font mb-1">invest with mastercard debit/credit</h3>
        </div>
   <div x-data="{ show: false }">
    <div class="flex justify-center">
        <button @click={show=true} type="button" class="flex mx-auto mt-2 text-white font-bold bg-blue-400 border-0
         py-1 px-3 focus:outline-none hover:bg-indigo-300 rounded text-base">Click here</Button>
    </div>
    <div x-show="show" tabindex="0" class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div  @click.away="show = false" class="z-50 relative p-3 mx-auto my-0 max-w-full" style="width: 500px;">
            <div class="bg-white rounded shadow-lg border flex flex-col overflow-hidden">
                <button @click={show=false} class="fill-current h-6 w-6 absolute right-0 top-0 m-6 font-3xl font-bold">&times;</button>
                <div class="px-6 py-3 text-xl border-b font-bold">:(</div>
                <div class="p-6 flex-grow">
                    <p>API connection failed</p>
                    <p>Rendering Error</p>
                </div>
                <div class="px-6 py-3 border-t">
                    <div class="flex justify-end">
                        <button @click={show=false} type="button" class="bg-gray-700 text-gray-100 rounded px-4 py-2 mr-1">Close</Button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed bg-black opacity-50"></div>
    </div>
</div>
</div>

      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'img/skrill.png' %}">
        </a>
            <div class="mt-2">
          <h3 class="text-gray-500 text-xs text-center tracking-widest title-font mb-1">invest with skrill</h3>
        </div>
           <div x-data="{ show: false }">
    <div class="flex justify-center">
        <button @click={show=true} type="button" class="flex mx-auto mt-2 text-white font-bold bg-blue-400 border-0
         py-1 px-3 focus:outline-none hover:bg-indigo-300 rounded text-base">Click here</Button>
    </div>
    <div x-show="show" tabindex="0" class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div  @click.away="show = false" class="z-50 relative p-3 mx-auto my-0 max-w-full" style="width: 500px;">
            <div class="bg-white rounded shadow-lg border flex flex-col overflow-hidden">
                <button @click={show=false} class="fill-current h-6 w-6 absolute right-0 top-0 m-6 font-3xl font-bold">&times;</button>
                <div class="px-6 py-3 text-xl border-b font-bold">:(</div>
                <div class="p-6 flex-grow">
                    <p>API connection failed</p>
                    <p>Rendering Error</p>
                </div>
                <div class="px-6 py-3 border-t">
                    <div class="flex justify-end">
                        <button @click={show=false} type="button" class="bg-gray-700 text-gray-100 rounded px-4 py-2 mr-1">Close</Button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed bg-black opacity-50"></div>
    </div>
</div>
      </div>

      
    

      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'img/paypal.png' %}">
        </a>
      <div class="mt-2">
          <h3 class="text-gray-500 text-xs text-center tracking-widest title-font mb-1">invest with paypal</h3>
        </div>
   <div x-data="{ show: false }">
    <div class="flex justify-center">
        <button @click={show=true} type="button" class="flex mx-auto mt-2 text-white font-bold bg-blue-400 border-0
         py-1 px-3 focus:outline-none hover:bg-indigo-300 rounded text-base">Click here</Button>
    </div>
    <div x-show="show" tabindex="0" class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div  @click.away="show = false" class="z-50 relative p-3 mx-auto my-0 max-w-full" style="width: 500px;">
            <div class="bg-white rounded shadow-lg border flex flex-col overflow-hidden">
                <button @click={show=false} class="fill-current h-6 w-6 absolute right-0 top-0 m-6 font-3xl font-bold">&times;</button>
                <div class="px-6 py-3 text-xl border-b font-bold">:(</div>
                <div class="p-6 flex-grow">
                    <p>API connection failed</p>
                    <p>Rendering Error</p>
                </div>
                <div class="px-6 py-3 border-t">
                    <div class="flex justify-end">
                        <button @click={show=false} type="button" class="bg-gray-700 text-gray-100 rounded px-4 py-2 mr-1">Close</Button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed bg-black opacity-50"></div>
    </div>
</div>
      </div>



      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'img/payeer-logo.png' %}">
        </a>
      <div class="mt-2">
          <h3 class="text-gray-500 text-xs text-center tracking-widest title-font mb-1">invest with payeer</h3>
        </div>
     <div x-data="{ show: false }">
    <div class="flex justify-center">
        <button @click={show=true} type="button" class="flex mx-auto mt-2 text-white font-bold bg-blue-400 border-0
         py-1 px-3 focus:outline-none hover:bg-indigo-300 rounded text-base">Click here</Button>
    </div>
    <div x-show="show" tabindex="0" class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div  @click.away="show = false" class="z-50 relative p-3 mx-auto my-0 max-w-full" style="width: 500px;">
            <div class="bg-white rounded shadow-lg border flex flex-col overflow-hidden">
                <button @click={show=false} class="fill-current h-6 w-6 absolute right-0 top-0 m-6 font-3xl font-bold">&times;</button>
                <div class="px-6 py-3 text-xl border-b font-bold">:(</div>
                <div class="p-6 flex-grow">
                    <p>API connection failed</p>
                    <p>Rendering Error</p>
                </div>
                <div class="px-6 py-3 border-t">
                    <div class="flex justify-end">
                        <button @click={show=false} type="button" class="bg-gray-700 text-gray-100 rounded px-4 py-2 mr-1">Close</Button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed bg-black opacity-50"></div>
    </div>
</div>
      </div>


      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'img/nett.jpeg' %}">
        </a>
      <div class="mt-2">
          <h3 class="text-gray-500 text-xs text-center tracking-widest title-font mb-1">invest with neteller</h3>
        </div>
       <div x-data="{ show: false }">
    <div class="flex justify-center">
        <button @click={show=true} type="button" class="flex mx-auto mt-2 text-white font-bold bg-blue-400 border-0
         py-1 px-3 focus:outline-none hover:bg-indigo-300 rounded text-base">Click here</Button>
    </div>
    <div x-show="show" tabindex="0" class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div  @click.away="show = false" class="z-50 relative p-3 mx-auto my-0 max-w-full" style="width: 500px;">
            <div class="bg-white rounded shadow-lg border flex flex-col overflow-hidden">
                <button @click={show=false} class="fill-current h-6 w-6 absolute right-0 top-0 m-6 font-3xl font-bold">&times;</button>
                <div class="px-6 py-3 text-xl border-b font-bold">:(</div>
                <div class="p-6 flex-grow">
                    <p>API connection failed</p>
                    <p>Rendering Error</p>
                </div>
                <div class="px-6 py-3 border-t">
                    <div class="flex justify-end">
                        <button @click={show=false} type="button" class="bg-gray-700 text-gray-100 rounded px-4 py-2 mr-1">Close</Button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed bg-black opacity-50"></div>
    </div>
</div>
      </div>


      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'img/advcash.png' %}">
        </a>
            <div class="mt-2">
          <h3 class="text-gray-500 text-xs text-center tracking-widest title-font mb-1">invest with advcash</h3>
        </div>
     <div x-data="{ show: false }">
    <div class="flex justify-center">
        <button @click={show=true} type="button" class="flex mx-auto mt-2 text-white font-bold bg-blue-400 border-0
         py-1 px-3 focus:outline-none hover:bg-indigo-300 rounded text-base">Click here</Button>
    </div>
    <div x-show="show" tabindex="0" class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div  @click.away="show = false" class="z-50 relative p-3 mx-auto my-0 max-w-full" style="width: 500px;">
            <div class="bg-white rounded shadow-lg border flex flex-col overflow-hidden">
                <button @click={show=false} class="fill-current h-6 w-6 absolute right-0 top-0 m-6 font-3xl font-bold">&times;</button>
                <div class="px-6 py-3 text-xl border-b font-bold">:(</div>
                <div class="p-6 flex-grow">
                    <p>API connection failed</p>
                    <p>Rendering Error</p>
                </div>
                <div class="px-6 py-3 border-t">
                    <div class="flex justify-end">
                        <button @click={show=false} type="button" class="bg-gray-700 text-gray-100 rounded px-4 py-2 mr-1">Close</Button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed bg-black opacity-50"></div>
    </div>
</div>
    </div>


</section>

	<script>
    console.log('hello world')
    const copyBtn = [...document.getElementsByClassName('copy-btn')]
    console.log(copyBtn)

    let previous = null

    copyBtn.forEach(btn=> btn.addEventListener('click', ()=>{
      console.log('click')
      const copy = btn.getAttribute('data-hex')
      console.log(copy)
      navigator.clipboard.writeText(copy)
      btn.textContent = "copied"

      if (previous) {
        previous.textContent = "click"
      }

      previous = btn
    }))

  
	</script>
<!--modal ENDS-->
<script type="text/javascript">
  function toggleModal(modalID){
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }
</script>
            
{% endblock content %}
