{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <!--link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"-->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <title>s-financialmarkets|{% block title %}{% endblock title %}</title>

</head>
<body>
    <div class="max-w-full mx-auto">
        {% include 'navbar.html' %}
    
        {% block content %}
        {% endblock content %}
    </div>
    

</body>
</html>
