<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="max-w-full mx-auto">
    
        <h1>WITHDRAWAL REQUEST</h1>
        <p>HI, {{user}}!</P>
        <p> 
         Hello your withdrawal request has been submitted and being processed for confirmation,
         please kindly be patient with us, as this may take some time 
        </p>

        <p>contact us at support@sfm.co.uk</P>

        
    </div>
    
</body>
</html>