{% extends 'base.html' %}
{% load static %}
{% block title %}commodities{% endblock title %}

{% block content %}
<div class="">
        <img src="{% static 'img/dity.jpg' %}" class="object-cover w-full h-full">
    </div>

<div class="container px-5 py-24 mx-auto">
    <h1 class=" capitalize sm:text-5xl text-3xl font-black italic mb-6">what are Commodities?</h1>
    <p class=" text-base font-medium tracking-wide leading-6">The commodities are usually naturally-occurring or agriculturally grown material that can be bought and sold, 
    or traded. As commodities of the same type and of the same grade do not really differ much between
     different producers, this makes them interchangeable and priced quite similarly or equally.

        <p class=" text-base font-medium tracking-wide leading-6 mt-6">Commodities are sorted into 4 categories: agricultural, energy, livestock and metal.
        Some commodities possess an intrinsic value because they are scare or difficult to mine (or both), 
        including precious metals like: Gold, Platinum and Silver.</p>

        <h3 class=" font-medium text-xl capitalize my-8">Example of some different commodities by category:</h3></p>

    <ul class=" text-base font-medium tracking-wide leading-6 mt-6">
        <li class="mb-6">1.<span class="font-bold">Agricultural:</span> Sugar, honey, coffee beans, corn, wheat, maple syrup etc.</li>
        <li class="mb-6">2.<span class="font-bold">Energy:</span> Petrol products like oil and gas.</li>
        <li class="mb-6">3.<span class="font-bold">Metal:</span> Gold, platinum, copper, silver.</li>
        <li>4.<span class="font-bold">Livestock:</span> Pork bellies, live cattle as well as other meat commodities.</li>
    </ul>

    <p class=" text-base font-medium tracking-wide leading-6 mt-6">Two other terms that you might come across while trading in commodities are the terms Hard and Soft commodities. Hard commodities mainly include commodities that have been mined (i.e.: petrol, gold, oil). Soft commodities are animal or agricultural (i.e.: live cattle, wheat, coffee beans).

There is a plethora of different factors that can affect the price of any commodity. Anything from the weather and war,
 to changes in the U.S. dollar can affect the prices. One of the most influential factors, 
 if not the most influential factor is when there are changes in the supply and the demand of a specific factor. 
 <h3 class=" font-medium text-xl capitalize my-8">For example:</h3> <p class=" text-base font-medium tracking-wide leading-6 mt-6">Gold is currently an asset with a high price on it. This is due at the moment to the demand for gold and the difficulty of extracting it, along with the scarcity of the metal.

If we lived in a world where gold rained from the sky, the price of this commodity would be drastically lower, as the supply would rise there for lowering the demand.

<span class="font-bold">FinancialMarket</span> allows you to speculate on the prices of commodities using CFDs and allows traders to take part in trading in the futures markets with derivatives without owning the actual asset. See what commodities you want to trade CFDs on.</p>
</p></div>
{% endblock content %}