{% extends 'base.html' %}
{% load static %}
{% block title %}crypto{% endblock title %}

{% block content %}

    
    <div class="">
        <img src="{% static 'img/cryptocurrency.jpg' %}" class="object-cover h-full w-full">
    </div>
    <div class="container px-5 py-24 mx-auto">
    <h1 class=" capitalize sm:text-5xl text-3xl font-black italic mb-6">what are Cryptocurrencies?</h1>
    <p class=" text-base font-medium tracking-wide leading-6">The popularity of the Cryptocurrency has grown over the years, with many brokers offering a range of currencies to trade CFDs on. They are in essence, web-based currencies with their transaction secured using cryptography. Cryptocurrencies are not issued by a central authority and are not associated with a specific country, thus rendering them “immune” to any governmental interference or manipulation.

Generally, considered to be the first decentralised cryptocurrency, Bitcoin, was not even designed as such. In 2009, Bitcoin was first released as an open sourced software, and is now traded, distributed and stored with the use of a decentralised ledger system known as a Blockchain. It has remained the most popular and well-known cryptocurrency although thousands of cryptocurrencies exist.

Although the Cryptocurrency market is a daily, rapidly growing market, it is still small in comparison to the global currency market. As such, it can be attractive to traders who are looking to be in the forefront of trading in the new markets. However, there are many risks involved with trading in new and volatile markets, and while profits can be earned, it is of utmost importance that you keep in mind that the losses can occur just as fast, and can be substantial.</p>
    <h2 class="capitalize font-black italic sm:text-4xl text-2xl mb-6 mt-4">what is Cryptocurrency CFDs trading?</h2>
    <p class=" text-base font-medium tracking-wide leading-6">The basis of trading Cryptocurrency is the same as trading global currencies. In short, it is simply the exchange of a cryptocurrency for another currency. For example: You can trade Bitcoin for Euros, or Ripples for US dollars etc.

        The Cryptocurrency market is based on the supply and demand of a specific currency.
        Due to the fact that they do not have a central governing body,
        they remain mostly unaffected by many of the economic and political concerns 
        that tend to affect the prices of global currencies. 
        Some of the factors that tend to affect the value of a Cryptocurrency are:</p>
    <ul class=" text-base font-medium tracking-wide leading-6 mt-6">
        <li class="mb-6">1. <span class="font-bold">Supply and Market Capitalisation – </span>The number of coins in existence, the rate at which they are released, destroyed or lost, the value of 
        all of the coins in existence as well as the way they are perceived by traders can all drive the market prices.</li>
        <li class="mb-6">2.<span class="font-bold"> Integration – </span>The prices can be affected by the ease and extent 
        to which the Cryptocurrency can be integrated into existing infrastructures.</li>
        <li class="mb-6">3. <span class="font-bold">Major Events –</span> Some examples of the major events that have an effect on the Cryptocurrency prices 
        are security breaches and economic setbacks as well as regulatory updates.</li>
    </ul>
    <p class=" text-base font-medium tracking-wide leading-6">Cryptocurrency CFDs, are derivatives, enabling you to speculate on the price movement of a 
    cryptocurrency without taking ownership of the underlying coins. You can buy if you think
     a cryptocurrency will rise in value, or sell if you think it will fall. 
     The value of digital currencies tends to change very quickly and thus we warn our clients that 
     there is a number of potential risks when dealing with CFDs on cryptocurrencies-the main be 
     their inherent volatility.

<p class=" text-base font-medium tracking-wide leading-6 mt-6">Check out the full list of Cryptocurrency CFDs to choose from on the <span class="font-bold">FinancialMarket</span> platform.</p></p>
{% endblock content %}


