{% extends 'base.html' %}
{% load static %}

{% block title %}fundamental analysis{% endblock title %}

{% block content %}

<div class="container px-5 py-24 mx-auto">
    <h1 class=" capitalize sm:text-5xl text-3xl font-black italic mb-6">fundamental analysis</h1>
    <p class=" text-base font-medium tracking-wide leading-6">CFD Traders who employ fundamental analysis to their trading, study different factors and events that can possibly influence the price of an asset. While using a different number of fundamental tools (i.e.: economic calendars), and analysing the economic data, fundamental analysts look for the intrinsic value of the asset.  The data collected can vary and can be interconnected with each other to study the movements, anything from global events such as war, or just company data.

        <p class=" text-base font-medium tracking-wide leading-6 mt-6">
          Fundamental analysis techniques and tools have been categorised into two types; a “bottom-up” analysis starts with a specific asset and widens its girth to consider all the factors that can impact the price. A “top-down” analysis takes a much broader view and starts with the market as a whole and then narrows down. For fundamental analysts it is important that they follow general worldwide headlines and not just financial headlines in order to best put the information collected into a larger context.

        </p>

        <h3 class=" font-medium text-xl capitalize my-8">3 main factors that are considered in fundamental analysis:</h3></p>

    <ul class=" text-base font-medium tracking-wide leading-6 mt-6">
        <li class="mb-6">1.<span class="font-bold">Release of economic data like unemployment rates, and interest rates, can play a big role in the fluctuation of the price of an asset.</li>
        <li class="mb-6">2.<span class="font-bold">Weather and natural events are factors that can have major impacts on the supply and demand of specific assets leading to a rise or drop in the price.</li>
        <li class="mb-6">3.<span class="font-bold">Politics and political events like with many aspects of life, can have significant impact on the price of certain assets.</li>
  
    </ul>

    <p class=" text-base font-medium tracking-wide leading-6 mt-6">Traders can use fundamental analysis to gather the necessary information needed in order to make an informed trading strategy. It can also assist traders in anticipating and predicting price trends in order to get a longer view of the market.
<p class=" text-base font-medium tracking-wide leading-6 mt-6">As an example, if you are using fundamental analysis to look at a specific stock, trader performing fundamental analysis should consider factors like mergers and acquisitions, company news, earning reports, natural events and major weather events, including extreme heat or cold, geopolitical, world economics and interest rates changes can all be analysed to build a strategy.



{% endblock content %}