{% extends 'base.html' %}
{% load static %}

{% block title %}Forex{% endblock title %}

{% block content %}

    <div>
        <img src="{% static 'img/forex-13.jpg' %}">
    </div>

<div class="container px-5 py-24 mx-auto">
  <h1 class=" capitalize sm:text-5xl text-3xl font-black italic mb-6">what is forex?</h1>
  <p class=" text-base font-medium tracking-wide leading-6">Forex (foreign exchange or FX) is, in simple terms, the largest financial market in the world in which individuals,
   companies and financial institutions can exchange global currencies for one another at changing rates. 
   The forex market is the largest market in the world with an average daily trading volume that exceeds $5 trillion.

    The decentralised, foreign exchange market is open from Sunday night through to Friday night 24 hours a day,
    with a wide arrange of currencies being traded at any given time by traders looking to take an advantage of 
    the rate fluctuations.

    There are hundreds of currency pairs that can be traded. The most traded pairs are known as the “Majors”. 
    The majors are comprised of the following currencies: 
    US Dollar, Great British Pound, Euro, Japanese Yen, Canadian Dollar, Swiss Franc and the Australian Dollar.
    The other currencies are referred to as 
    the “Minors” and include currencies like the Norwegian Krone, Mexican Peso, the Polish Zloty and many more.</P>


  <h2 class="capitalize font-black italic sm:text-4xl text-2xl mb-6 mt-4">how to trade forex?</h2>

  <p class=" text-base font-medium tracking-wide leading-6">Forex trading is the act of trading one global currency for another. 
  As currency exchange rates are constantly changing, traders attempt to earn a profit 
  from the differences and changes in the prices of currencies. As a Forex/CFD trader, you can speculate if 
  the price of currency will rise or fall in comparison to another, 
  and choose whether to buy or sell a specific currency for another</p>

  <h3 class=" font-medium text-xl capitalize my-8">for example:</h3>
  <h4 class=" font-medium text-xl capitalize my-8 underline">currency pairs:EUR/USD</h4>

  <div class=" text-base font-medium tracking-wide leading-6">The first currency of the pair is known as the “base currency”, the second is known as the “counter currency”. 
  In this example, the base currency is the USD and the counter currency is the GBP. 
  If you believe that the USD will rise against the EUR you would choose to buy (known as “go long”),
   but should you believe that the USD will drop against the EUR you would choose to sell (known as “go short”).

    <p class="mt-8">Unlike you did historically, you no longer have to leave your house in order to trade Forex
    and potentially earn money from the price fluctuations of currencies. Using advanced, easy to use technology, 
    traders are able to trade CFDs of currency pairs from a home computer, tablet or smartphone. 
    At <span class="font-bold">FinancialMarket</span>, you will find a large array of different Major and Minor currencies to trade CFDs on.</p></div>
</div>
{% endblock content %}