{% extends 'base.html' %}
{% load static %}
{% block title %}indices{% endblock title %}

{% block content %}

    <div class="">
        <img src="{% static 'img/ind.jpg' %}" class="">
    </div>
<div class="container px-5 py-24 mx-auto">
<h1 class=" capitalize sm:text-5xl font-black italic text-3xl mb-6">what are Indices? </h1>
<p class=" text-base font-medium tracking-wide leading-6 mt-6">In this case we are referring to a Stock Index which measures the price performance of a group of shares in a particular exchange. For example: S&P 500 represents 500 large companies listed on stock exchanges in the US. When the prices of the stocks rise or fall, the prices of the Index (S&P 500) go up or down accordingly.

There are over 5000 Indices that can be found in the financial markets. Some of the most widely followed indices are: FTSE 100, DAX 30, Dow Jones Industrial Average, Nasdaq Composite and S&P 500. There is no one specific construction of the indices, however, they are generally identified by sector segregation and capitalisation.

Indices are often used in order to provide a measure of approximation of the health of a specific stock market. For example: many people regard the S&P 500 Index as one of the best representations of the state of the US stock market. In addition, Indices can act as major indicators about the overall health of an economy and can help traders to analyse markets trends.</p>

<h2 class="capitalize font-black italic sm:text-4xl text-2xl mb-6 mt-4">what is index CFDs trading?</h2>
<p class=" text-base font-medium tracking-wide leading-6 mt-6">Trading CFDs on Indices, like trading assets entails predicting the outcome of the price movement of an underlying asset in a certain timeframe. If you predict that an Index is going to rise, you would buy the corresponding CFD, but if you predicted that it was going to drop, you would sell it. For example: 25 of the companies listed in the S&P 500 suddenly shut down. The reports and your research lead you to believe that these shutdowns will cause the price of the S&P 500 Index to plummet. You would choose to sell the Index and try to earn a profit from that price movement. If you are correct, and the Index plummets, then you would have earned a profit. However, had the index done the opposite and risen, you would have lost your investment.

Indices are periodically recalculated and rebalanced, although this does vary by Index and depends on the size and capitalisation of the companies within the specific Index. It is very possible for higher performing large companies to outweigh even a number of poorer performing, causing the price to increase or decrease accordingly. Since Indices have a wide exposure to a number of different underlying companies, it can help with the diversification.

At <span class="font-bold">FinancialMarket</span> you can trade CFDs on Indices from anywhere, on your tablet, smartphone or desktop computer. See what Indices you can choose from and trade on the platform.</p>
</div>    
{% endblock content %}