{% extends "base.html" %}
{% load static %}

{% block title %}leverage&margin{% endblock title %}

{% block content %}

    <div class="container px-5 py-24 mx-auto">
    <h1 class=" capitalize sm:text-5xl text-3xl font-black italic mb-6">leverage & margins</h1>
    <p class=" text-base font-medium tracking-wide leading-wide"> </p>
    <h2 class="capitalize font-black italic sm:text-4xl text-2xl mb-6 mt-4">Leverage</h2>
    <p class=" text-base font-medium tracking-wide leading-6">The ratio between the amount of money you actually have to the amount you have to trade with is called Leverage. The equation is usually expressed as a 1:X format (X represents a number), for example 1:30.

The use of leverage in trading, gives you the possibility of opening larger positions using a smaller amount of capital. For example, a 1:30 leverage means that you can trade up to 30 times the amount of base currency in your account. The format is correct no matter what leverage you are using.

For more information on leverage amounts, please contact customer support.</p>

<h2 class="capitalize font-black italic sm:text-4xl text-2xl mb-6 mt-4">Margin</h2>

    <p class=" text-base font-medium tracking-wide leading-6">
    When trading CFDs using leverage, you are required to maintain a certain level of funds in your account, this is your margin (also known as a good faith deposit). Knowing and calculating your margin requirements before choosing to use leverage is an important information for good risk management. Moreover, understanding this information ahead of time, can prevent unnecessary margin calls (see below) that result in the closing of your position due to a lack of account margin.


<p class=" text-base font-medium tracking-wide leading-6 mt-6">Both leverage and margin are intertwined, as you are required to have a margin in order to use the leverage.</p></p>


<h2 class="capitalize font-black italic sm:text-4xl text-2xl mb-6 mt-4">Margin Calls</h2>

    <p class=" text-base font-medium tracking-wide leading-6">
    Trading with leverage on your margin can indeed help magnify any potential returns on your trading positions, but, it can also do the opposite, and potentially magnify your losses. Margin calls are used by brokers to let traders know when their accounts have depreciated to a specific level because leveraged trades that move opposite to your prediction will rapidly drain your available capital.



<p class=" text-base font-medium tracking-wide leading-6 mt-6">When choosing to trade with a leverage it is extremely important that you carefully consider the amount of leverage you want to use. Both successful and unsuccessful positions are amplified and can cause you to lose all of your capital.</p></p>


{% endblock content %}