{% extends 'base.html' %}
{% load static %}
{% block title %}stocks{% endblock title %}
{% block content %}
    
<div class="">
        <img src="{% static 'img/ok.jpg' %}" class="object-cover h-full w-full">
    </div>
    <div class="container px-5 py-24 mx-auto">
    <h1 class=" capitalize sm:text-5xl text-3xl font-black italic mb-6">what are stocks?</h1>
    <p class=" text-base font-medium tracking-wide leading-6">The term Stock is used to describe Equity in Public Listed Companies, which have completed an Initial Public Offering (IPO), allowing retail traders to buy shares in the company.

        The investor theoretically owns a percentage of what the company own or owes, and is considered a “shareholder”. There are a number of different factors that go in to determining whether a stock is traded at a lower or at a higher price, however, the main determining factor is the company’s profitability.

        Selling and owning equity in companies was popularized already back in the 16th century although on a much smaller scale. Today, there are around 60 major global stock exchanges. Some of the largest include: The New York Stock Exchange, Japan Exchange Group, Euronext and London Stock Exchange.

        At <span class="font-bold">FinancialMarket</span>, you have the chance to trade CFDs with stocks as the underlying asset on our easy to use trading platform. You can choose whether you want to buy or sell (long or short) shares in a company without actually owning them and without having to be at one of the global stock exchanges.
         CFDs on Stocks can be traded on the <span class="font-bold">FinancialMarket</span> platform from anywhere, using a smartphone, tablet or a desktop computer.</p>

    <h2 class="capitalize font-black italic sm:text-4xl text-2xl mb-6 mt-4">trading stock CFDs</h2>
    <p class=" text-base font-medium tracking-wide leading-6">Many issues can affect the price of a stock, including: 
     layoff announcements of a specific company, an announcement about a new product etc.
     Your choice whether to buy or sell the stock would depend on which way you predict the market will move.
     If you think the stock would rise, you would buy it, and if you thought it would drop you would choose to sell.</p>

     <h3 class=" font-medium text-xl capitalize my-8">for example:</h3>
     <p class=" text-base font-medium tracking-wide leading-6">Apple has just announced a brand-new iPhone with even better capabilities than the current one, for half the price.
      You have researched the announcement and how it can affect the stock and you determine that the stock is going to go up due to the new product.

        You choose to buy. If the stocks go up, you would earn a profit from the movement.
        However, should the market move against you, you would lose your investment.</p></div>
{% endblock content %}