{% extends 'base.html' %}
{% load static %}

{% block title %} technical analysis{% endblock title %}


{% block content %}
<div class="container px-5 py-24 mx-auto">
    <h1 class=" capitalize sm:text-5xl text-3xl font-black italic mb-6">technical analysis</h1>
    <p class=" text-base font-medium tracking-wide leading-6">Technical analysis can be defined as the study of the behaviour of the market. This analysis is compiled by using different graphs, indicators and reports to best speculate on the future trends of an underlying assets’ price.</p>
    
    <p class=" text-base font-medium tracking-wide leading-6 mt-6">You can think of technical analysis as studying the history of the asset. Technical analysis is based on 3 basic assumptions: Prices move in trends, history repeats itself, and the stability of an asset is reflected in its price.</p>
    <ul class=" text-base font-medium tracking-wide leading-6 mt-6">
        <li class="mb-6">1. <span class="font-bold">Prices move in trends is the belief that every moment in the market, there are certain circumstances that define a specific movement. Using technical analysis, you can define what the circumstances that lead to the different movements are.</li>
        <li class="mb-6">2.<span class="font-bold">History repeats itself means that specific market trends are repetitive. In order to help best determine which way you believe that the asset with go (rise or fall), technical analysts examine and compare the past behaviour of the asset.</li>
        <li class="mb-6">3. <span class="font-bold">The stability of an asset is reflected in its price, is the understanding that there are many elements that can affect the market and it reflects in share prices. The prices can rise or fall depending on the supply and demand of said asset. With technical analysis, it is the consequences which are important to the trader, not necessarily the factors that cause the price change.</li>
    </ul>
    <p class=" text-base font-medium tracking-wide leading-6">Technical analysts are of the belief that there are not random price fluctuations in the market, and if you apply the proper strategies, you can identify them ahead of time. Many technical indicators are often applied and studied by technical analysts, including popular indicators like The Moving Average indicator, Fibonacci retracements indicator and the Relative Strength Index (RSI).


<p class=" text-base font-medium tracking-wide leading-6 mt-6">CFD Traders who apply technical analysis to their trades, use historical market trends to help predicting the upcoming movements of the asset. Patterns from price changes help them speculate on the future movement, and provides traders with an indication of the upward/ downward trend of the price of an asset allowing them to build a corresponding strategy.</p></p>


{% endblock content %}
