{% extends 'base.html' %}
{% load static %}
{% block title %}Trading Central{% endblock title %}

{% block content %}

<section class="text-gray-600 body-font">
	<div class="container px-5 py-24 mx-auto">
		<div class="flex flex-wrap -m-4">
			<div class="p-4 md:w-1/4">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
					<img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{% static 'img/fx10.png' %}" alt="blog">
					<div class="p-6">
						<h1 class="title-font text-lg font-medium text-gray-900 mb-3 uppercase">analysist news</h1>
						<p class="leading-relaxed mb-3 text-sm text-gray-080">get actionable top-down research through the unique combination
						of senior analyst, expert and automated algorithms</p>
						
					</div>
				</div>
			</div>
			<div class="p-4 md:w-1/4">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
					<img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{% static 'img/fx7.jpg' %}" alt="blog">
					<div class="p-6">
						<h1 class="title-font text-base font-medium text-gray-900 mb-3 uppercase">Economic insight</h1>
						<p class="leading-relaxed mb-3 text-sm text-gray-080">stay up to date with whats happening across the market using daily market.
						backed by analyst, tested indicators that suits all types of trades.</p>

					</div>
				</div>
			</div>
			<div class="p-4 md:w-1/4">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
					<img class="lg:h-48 md:h-36 w-full object-cover object-center" src={% static 'img/fx6.jpeg' %} alt="blog">
					<div class="p-6">
						<h1 class="title-font text-base font-medium text-gray-900 mb-3 uppercase">daily market analysis</h1>
						<p class="leading-relaxed mb-3 text-sm text-gray-080">use Powerful trading tools to monitor, anticipate and act on potensial marketing
						move events</p>
					</div>
				</div>
			</div>

						<div class="p-4 md:w-1/4">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
					<img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{% static 'img/fx2.jpg' %}" alt="blog">
					<div class="p-6">
						<h1 class="title-font text-base font-medium text-gray-900 mb-3 uppercase">featured ideas</h1>
						<p class="leading-relaxed mb-3 text-sm text-gray-080">View bullish and bearish investments ideas based on both technical analysis 
						all supported by tested strategy</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="text-gray-600 body-font">
	<div class="container px-5  mx-auto">
		<div class="flex flex-wrap -m-4">
			<div class="p-4 md:w-1/4">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
					<img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{% static 'img/fx.jpg' %}" alt="blog">
					<div class="p-6">
						<h1 class="title-font text-lg font-medium text-gray-900 mb-3 uppercase">strategic newsletters</h1>
						<p class="leading-relaxed mb-3 text-sm text-gray-080">get trade ideas and latest market news sent straight to your inbox through newsletter</p>
						
					</div>
				</div>
			</div>
			<div class="p-4 md:w-1/4">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
					<img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{% static 'img/fx4.png' %}" alt="blog">
					<div class="p-6">
						<h1 class="title-font text-base font-medium text-gray-900 mb-3 uppercase">Tc market buzz</h1>
						<p class="leading-relaxed mb-3 text-sm text-gray-080">This Ai news desk crunches the massive amount of content published online to provide a coincise 
                  accurate view of my givrn instrument</p>

					</div>
				</div>
			</div>
			<div class="p-4 md:w-1/4">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
					<img class="lg:h-48 md:h-36 w-full object-cover object-center" src={% static 'img/fx5.png' %} alt="blog">
					<div class="p-6">
						<h1 class="title-font text-base font-medium text-gray-900 mb-3 uppercase">Tc research platform</h1>
						<p class="leading-relaxed mb-3 text-sm text-gray-080">A multi-asset actionable research platform produced by award winning methodologist and Powerful Pattern recognition</p>
					</div>
				</div>
			</div>

						<div class="p-4 md:w-1/4">
				<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
					<img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{% static 'img/fx8.jpg' %}" alt="blog">
					<div class="p-6">
						<h1 class="title-font text-base font-medium text-gray-900 mb-3 uppercase">web tv</h1>
						<p class="leading-relaxed mb-3 text-sm text-gray-080">Filmed from the floor to the NYSE get actionable trade ideas and easily stay informed on the latest industry</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock content %}